{% extends 'views/admin/base.html.twig' %}

{% block admin_content %}
    <h3>Articles</h3>
    <table class="table mt-3">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Active</th>
        </tr>
        </thead>
        <tbody>
        {% for index, article in articles %}
            <tr>
                <th scope="row">{{ article.id }}</th>
                <td>{{ article.name }}</td>
                <td>{{ article.active }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}