<ul class="nav navbar-right top-nav">
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Admin User <b class="fa fa-angle-down"></b></a>
        <ul class="dropdown-menu">
            <li><a href="{{ path('app_account_profile') }}"><i class="fa fa-fw fa-user"></i> Edit Profile</a></li>
            <li class="divider"></li>
            <li><a href="{{ path('app_auth_logout') }}"><i class="fa fa-fw fa-power-off"></i> Logout</a></li>
        </ul>
    </li>
</ul>