{% set admin_title = title ?? 'Admin' %}
<div class="border-end bg-white" id="sidebar-wrapper">
    <div class="sidebar-heading border-bottom bg-light px-3 pt-2 pb-2">{{ admin_title }}</div>
    <div class="list-group list-group-flush sidebar">
        {% for item in items %}
            <a class="list-group-item list-group-item-action list-group-item-light p-3" href="{{ item.link }}">{{ item.title }}</a>
        {% endfor %}
    </div>
</div>

