{% set admin_title = title ?? 'Admin' %}
<div class="border-end bg-white" id="sidebar-wrapper">
    <div class="sidebar-heading border-bottom bg-light px-3 pt-2 pb-2">{{ admin_title }}</div>
    <div class="list-group list-group-flush sidebar">
        <a class="list-group-item list-group-item-action list-group-item-light p-3" href="{{ path('app_admin_dashboard') }}">Home</a>
        <a class="list-group-item list-group-item-action list-group-item-light p-3" href="{{ path('app_admin_users') }}">Users</a>
        <a class="list-group-item list-group-item-action list-group-item-light p-3" href="{{ path('app_admin_settings') }}">Settings</a>
    </div>
</div>