<div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav side-nav">
        <li>
            <a href="{{ path('app_admin_dashboard') }}">
            <i class="fa fa-fw fa-home"></i> Home</a>
        </li>
        <li>
            <a href="{{ path('app_admin_users') }}">
            <i class="fa fa-fw fa-user-plus"></i> Users</a>
        </li>
        <li>
            <a href="{{ path('app_admin_settings') }}">
                <i class="fa fa-fw fa-cog"></i> Settings</a>
        </li>
    </ul>
</div>
